header {
    background-color: #cecece; /* Header background color */
    color: #fff; /* Header text color */
    display: flex;
    flex-flow: wrap;
    align-items: center;
    padding: 1em; /* Adjust padding as needed */
    justify-content: space-between;
    font-family: 'Major Mono Display', monospace;
    font-size: 1.35em;
}
#logo-container {
    display: flex;
    align-items: center;
}
.logo img {
    border-radius: 50%;
    border: 2px solid red;
    margin-right: 1em;
}
header a, header a:visited {
    color: #fff;
    text-decoration: none;
}
header a:hover {
    color: red;
}
header a:active {
    color: red;
}
#nav-container div {
    padding: .5em;
    font-size: .75em;
}
.logo-text-small div  {
    padding: .25em;
    font-size: .75em;
}